[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
codecov = "*"
coverage = "*"
detox = "*"
flake8 = "*"
pytest = "*"
pytest-cov = "*"
requests-mock = "*"
Sphinx = "*"
tox = "*"
twine = "*"

[packages]
geocoder = "*"
ics = "*"
requests = "*"
requests-cache = "*"
