[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
pytest = "*"
pytest-cov = "*"
requests-mock = "*"
twine = "*"
codecov = "*"
tox = "*"
flake8 = "*"
detox = "*"
Sphinx = "*"

[packages]
requests = "*"
ics = "*"
geocoder = "*"
