[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
"flake8" = "*"
aresponses = "*"
mypy = "*"
pre-commit = "*"
pydocstyle = "*"
pylint = "*"
pytest-aiohttp = "*"
pytest-mock = "*"
pytest-cov = "*"
tox = "*"
twine = "*"

[packages]
aiocache = "*"
aiohttp = "*"
async-timeout = "*"
geocoder = "*"
ics = "*"
pytz = "*"
